/* App.css */
body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.app {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.navbar {
  background: #333;
  color: #fff;
  padding: 2rem;
  text-align: center;
  font-weight: 900;
  font-size: large;
  
}

.container {
  display: flex;
  flex: 1;
}

.sidebar {
  width: 200px;
  background: #dcc2c2;
  padding: 1rem;
  font-weight: 600;
  
}

.sidebar ul {
  list-style: none;
  padding: 0;
  
}

.sidebar li {
  margin: 1rem 0;
  cursor: pointer;
}

.main-content {
  flex: 1;
  padding: 1rem;
}

.metrics-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 1rem;
}

.card {
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 1rem;
  text-align: center;
}

.card-icon {
  font-size: 24px;
  margin-bottom: 8px;
}

.card-content h3 {
  margin: 0;
  font-size: 18px;
}

.card-content p {
  margin: 0;
  font-size: 24px;
  font-weight: bold;
}

.chart {
  margin-top: 2rem;
  
}

.post-list {
  margin-top: 1rem;
}

.post-item {
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 1rem;
  margin-bottom: 1rem;
}

.post-item h3 {
  margin: 0;
}

.post-item p {
  margin: 0.5rem 0;
}

.post-item small {
  color: #666;
}